<:Title>
  Podder

<:Body>
  <h1>Home</h1>
  <p>Volt with Podder.</p>

  <div style="float: left">
  <h1>Top five podcasts.</h1>
  {{ get_podcasts.each do |pod1| }}
    <img src="{{ pod1._imageUrl }}" class="grow" alt="{{ pod1._title }}" e-click="params._index = index">
  {{ end }}

  <h1>Top five podcasts</h1>
  <ol style="width: 400px">
  {{ get_podcasts.each do |pod| }}
    <li><a href="{{ pod._link }}" e-click="params._index = index">{{ pod._title }}</a></li>
  {{ end }}
  </ol>
  </div>
  {{ if current_podcast }}
  <div style="float: left; width: 400px; margin-left: 50px">
    <h3>{{ current_podcast._genre }}</h3>
    <h2><a href="{{current_podcast._feedUrl}}">{{ current_podcast._title }}</a></h2>
    <img src="{{ current_podcast._imageUrl }}" alt="{{ current_podcast._title }}">
    <p>{{ current_podcast._copy }}</p>
    <p>Datum {{ formatDate(current_podcast._releaseDate).strftime("%Y-%m-%d")}}</p>
    <p>{{ current_podcast._description }}</p>

    <audio preload></audio>

    <ol class="playlist">
      {{ get_podcast_url(current_podcast._link_id).each do |media| }}
        <li><a href="#" data-src="{{ media._url }}">{{ media._title }} <span class="pub-date">{{ formatDate(media._pubDate).strftime("%Y-%m-%d")}}</span></a></li>
      {{ end }}
    </ol>
  </div>
  {{ end }}
